@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    list-style: none;
}
:root{
background-color: rgba(0, 40, 251, 0.06);

}
body{
  transition: background-color 0.6s ease, color 1s ease;
  color: #000;
}
body.dark{
  background-color: rgba(0, 16, 98, 0.81);
  color: #fff;
}

header{
    height: 25vh;
    width: 100vw;
    background-color: rgba(79, 98, 194, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: background 0.2s linear;
    /* padding: px;  */
     /* padding-left: 2rem;  */
}
header.dark{
  background-color: rgba(5, 4, 67, 0.8);
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 4;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  opacity: 1;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100%;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(79, 98, 194);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 3;
}

.menu__item {
  display: block;
  padding: 35px 40px;
  color: #fff;
  text-align: center;
  font-family: 'montserrat';
  font-weight: 1000;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
background: #4F62C2;
box-shadow: inset 5px 5px 10px #344180,
            inset -5px -5px 10px #6a83ff;
}
.social{
    font-family: 'montserrat';
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.social a{
    color: rgba(255, 255, 255, 0.6);
}
.copyright{
    font-size: 1rem;
    padding: 4px;
}
.logo{    
    height: 50%;
    width: 50%;
    margin-left: 4rem;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  top: 38px;
  width: 30px;
  height: 8px;
  background-color:rgba(64, 79, 157, 1);
  display: flex;
  border-radius: 50px;
  justify-content: space-between;
  padding: 5px;
  /* margin-left: 10rem; */
  position: relative;
  transform: scale(1.5);
  z-index: 2;
}

.ball {
    /* left: 30px; */
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(21px);
}

.fa-moon {
  color: pink;
  font-size: 9px;
}

.fa-sun {
  color: yellow;
  font-size: 9px;
}
.section1{
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1{
height: 30vh;
width: 70vw;
margin-top: -8.5rem;
display: flex;
flex-direction: column;
justify-content: center;
padding: 2rem;
background-color: rgba(255, 255, 255, 0.33);
box-shadow:  5px 5px 30px 1px rgba(0,0,0,0.15);
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 20px;
}
.card1.dark{
  box-shadow: 11px 10px 10px -3px rgba(0,0,0,0.30);
background-color: rgba(255, 255, 255, 0.1);
/* background-color: red; */
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


}
.card2.dark{
   box-shadow: 11px 10px 10px -3px rgba(0,0,0,0.30);
background-color: rgba(255, 255, 255, 0.1);
/* background-color: red; */
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card3.dark{
   box-shadow: 11px 10px 10px -3px rgba(0,0,0,0.30);
background-color: rgba(255, 255, 255, 0.1);
/* background-color: red; */
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
/* .card1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    grid-template-areas:
      "tendance tendance tendance"
      "python js c++"
  }
  .python{
    grid-area: ; */
  
.tendances{
    font-size: 1.5rem;
    font-weight: 400;
}
.card1 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left: -7.5rem;     */
}
.card1 ul li{
    width: 100%;
    margin-top: 2rem; 
    /* padding-top: 2rem 0px 0px 5px; */
}
.card1 ul li img{
max-width: auto;
padding: 0.5rem;
}
/* MEDIA QUERY HEADER ET 1ERE SECTION  */

.section2{
     height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
}
.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 70vw;    
    background-color: rgba(255, 255, 255, 0.33);
    margin-top: -5rem;
    padding: 2rem;
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow:  5px 5px 30px 1px rgba(0,0,0,0.15);

}
.card2 p{
    padding-bottom: 1rem;
    font-size: 1.5;
    font-weight: 400;
}
.canvas1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115%;
}
.section3{
     height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.card3{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 70vw;    
    background-color: rgba(255, 255, 255, 0.33);
    padding-top: 2rem; 
    padding: 2rem;
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow:  5px 5px 30px 1px rgba(0,0,0,0.15);
}
.canvas2{
        width: 100%;
    }

    @media (min-width: 1024px) {
    header{
        display: none;
    }
    body{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
      column-gap: 12.5rem;
      grid-template-areas:
      "html git photoshop"
      "css linux illustrator"
      "js figma anglais";

    }
    /* .section1{
        margin-left: 10rem;
        width: auto;

    }
    .section2{
        height: 40vh;
        width: 40vw;
        margin-top: 13rem;
 
    }
    .card1{
      width: 40vw;
      margin-top: 10rem;
      left: 19.5rem;
      display: flex;
    }
     .card1 ul li{
       padding: 5rem;
     }
    .card1 ul li img{
      width: auto;
       margin-top: -3rem;

    }
    
    .canvas1{
      width: auto;
    }
    .card2{
        margin-left: 43rem;
        padding-top: -3rem;
    }
    .canvas1{
        width: 40vw;
    }
    .canvas2{
      display: none;
    } */

}
.dark-mode{
 background-color: black;
}
