*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.desktop {
    display: none;
}

.btn_dark {
    display: none;
}

.section1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card1{
display: flex;
flex-direction: column;
padding: 2rem;
margin-top: -5rem;
height: 30vh;
width: 70vw;
background-color: rgba(255, 255, 255, 0.33);
box-shadow:  5px 5px 30px 1px rgba(0,0,0,0.15);
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 20px;
word-break: break-all;
}
.card1.dark{
  box-shadow: 11px 10px 10px -3px rgba(0,0,0,0.30);
background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card2.dark{
   box-shadow: 11px 10px 10px -3px rgba(0,0,0,0.30);
background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card3.dark{
   box-shadow: 11px 10px 10px -3px rgba(0,0,0,0.30);
background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tendances{
    font-size: 1.5rem;
    font-weight: 400;
}
.card1 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.card1 ul li{
    margin-top: 2rem; 
}
.card1 ul li img{
max-width: auto;
padding: 0.5rem;
}
/* MEDIA QUERY HEADER ET 1ERE SECTION  */

.section2{
     height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
}
.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 70vw;    
    background-color: rgba(255, 255, 255, 0.33);
    padding: 2rem;
    margin: 1rem;
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow:  5px 5px 30px 1px rgba(0,0,0,0.15);

}
.card2 p{
    padding-bottom: 1rem;
    font-size: 1.5;
    font-weight: 400;
}
.canvas1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115%;
}
.section3{
     height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.card3{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 70vw;    
    background-color: rgba(255, 255, 255, 0.33);
    padding: 2rem;
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow:  5px 5px 30px 1px rgba(0,0,0,0.15);
}
.chartBoxhome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}
.canvas2{
        width: 100%;
    }

/* Style card Doughnut */
    
.moins{
    padding: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.33);
}

.plus{
    padding: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.33);
}

.btn_graph {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}


/* RESPONSIVE DESKTOP */

@media screen and (min-width: 1025px) {
    body{
        height: 100%; 
    }

    header{
        display: none;
    }
    .section1{
        height: 100%;
        display: grid;
        grid-template-columns: 1% 20% 44% 35%;
        grid-template-rows: 2% 48% 48% 2%;
    }

    .card1{
        padding: 0;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: flex-end;
        width: 80%;
        min-height: 69%;
        padding: 2rem;
    }
    
    .menu__item {
        padding-bottom: 1.4rem;
        padding-top: 1.4rem;
    }
    
    .card2{ 
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;
        align-self: flex-start;
        width: 80%;
        min-height: 77%;
        padding: 2rem;
    }

    .card3 {
        padding: 0;
        width: 90%;
        height: 93%;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
        align-self: flex-end;
        /* margin-bottom: 0.5rem; */
    }

    .btn_dark {
        display: block;
        justify-self: flex-end;
        align-self: flex-start;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        position: initial;
    }

    .label{
        position: fixed;
        top: 3%;
        left: 95%;
    }

    #chartDoughnut{
        display:none;
    }

    .desktop{
        grid-column: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        height: 100%;
        min-width: 50%;
        background-color: rgba(79, 98, 194, 0.8);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: flex-end;
        justify-self: center;
    }

    .chartlessline{
        width: 50%;
        height: 15rem;
        margin-top: 4rem;
        /* height: 50%; */
    }
    .chartlessline canvas{
        width: 100%;
    }
    .chartlesspolar{
       width: 50%;
       height: 19rem;
       margin-top: 3rem;
       padding: 0;
    } 
    .chartlesspolar canvas{
        width: 60%;
    }
    .scrapitem{
        overflow: hidden;
    }
    .langage1 img{
        width: 25%;
    }

    .canvas1 {
        width: 90%;
    }
}
